.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.table-img {
  width: 140px;
  height: 100px;
}

.paginator {
  margin: 20px 0;
}