$primary-color: rgb(12, 77, 89);

.navbar {
  margin: 20px 0;
}

.navbar .mat-toolbar.mat-primary {
  background-color: $primary-color;
}

.mat-toolbar {
  border-radius: 4px;
}

.mat-toolbar-row {
  justify-content: space-between;
}

.btn-group {
	display: flex;
  gap: 8px;
}

button {
  font-size: 16px;
}

button .user-icon, button .logout-icon {
  font-size: 2.125rem;
  height: 2.125rem;
  width: 2.125rem;
}

button .back-icon {
  font-size: 2.0rem;
  height: 2.125rem;
  width: 2.125rem;
}