<div class="login-container">

  <mat-card class="form-container">
    <mat-card-header>Login</mat-card-header>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline">
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Enter a valid email</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Password:</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Sign in</button>
    </form>
  </mat-card>
    
</div>